{% extends 'base.html.twig' %}

{% block title %}Créer un projet - Plateforme ERPI{% endblock %}

{% block body %}
<section class="main">

        {% for label, messages in app.flashes %}
            <div class="uk-alert-primary" uk-alert>
                {% for message in messages %}
                    <div class="flash-{{ label }}">
                        {{ message }}
                    </div>
                {% endfor %}
            </div>
        {% endfor %}

    <h1 class="center">Créer un projet</h1>
     <span class="uk-label prj"><b>Note</b> : Une fois votre projet créé, <br>vous aurez la possibilité d'y rajouter des fichiers. </span>
 {{ form_start(formProject) }}
    {{ form_row(formProject.title, { 'label': 'Titre du projet' }) }}

    {{ form_row(formProject.theme, { 'label': 'Renseignez un ou plusieurs thèmes (mots-clés)' }) }}
    <br>
    <div uk-grid>
    <div class="uk-width-1-3">{{ form_row(formProject.date_start, { 'label': 'Date de début ' }) }}</div>
    <div class="uk-width-1-3">{{ form_row(formProject.date_end, { 'label': 'Date de fin ' }) }}</div>
    </div>
<br>
    {{ form_row(formProject.summary, { 'label': 'Résumé' }) }}
<br>
<span class="uk-label prj"><b>Note</b> : Le guide de l'éditeur de textes est disponible<br>dans la rubrique "Besoin d'aide ?"</span>
    {{ form_row(formProject.content, { 'label': 'Contenu' }) }}
<br>
    {{ form_row(formProject.is_private, { 'label': 'Définir en privé' }) }}
    <div class="uk-margin center">
       <button type="submit" class="btn uk-button uk-button-default center">Créer</button>
    </div>
 {{ form_end(formProject) }}

</section>
{% endblock %}