{% extends 'base.html.twig' %}

{% block title %}Liste des projets - Plateforme ERPI{% endblock %}

{% block body %}

<section class="main">


        {% for label, messages in app.flashes %}
            <div class="uk-alert-primary" uk-alert>
                {% for message in messages %}
                    <div class="flash-{{ label }}">
                        {{ message }}
                    </div>
                {% endfor %}
            </div>
        {% endfor %}
                <ul class="uk-breadcrumb">
                    <li><a href="{{ path('main') }}">Acceuil</a></li>
                    <li><a href="{{ path('allprojects') }}">Tous les projets</a></li>
                </ul>
            {% for project in project %}
            <div class="uk-card uk-card-default uk-card-body uk-width-1@m uk-card-hover">
            
                     <h3 class="uk-card-title uk-heading-line"><span>{{ project.title }}<span></h3>
                     
                        <p class="uk-article-meta">
                            Publié par <a>{{ project.owner.forename }} {{ project.owner.name }}</a></li>
                            le <b>{{ project.createdat|date('d/m/Y') }}</b>. Mot(s) clé(s) :
                           
                            <b>{{ project.theme }}</b>
                        </p>
                            <p>{{project.summary}}</p>
                                <div class="uk-grid-small uk-child-width-auto" uk-grid>
                                    <div>
                                        <a class="uk-button uk-button-text"  href="{{ path('followproject', {'id':project.id}) }}">Suivre</a>
                                    </div>
                                    <div>
                                        <a class="uk-button uk-button-text"  href="{{ path('project_details', {'id':project.id}) }}">Voir plus</a>
                                    </div>
                                    {# {% if user.follow %}
                                        <p>Vous suivez déjà ce projet</p>
                                    {% endif %} #}
                            </div>

                        </div>
                        
                        <div class="uk-margin">
                    {# <td>{{ project.date_start}}</td>
                    <td>{{ project.date_end }}</td>
                    <td>{{ project.created_at }}</td> #}

            {% endfor %}
</section>

{% endblock %}
