{% extends 'base.html.twig' %}

{% block title %}Connexion | Plateforme ERPI{% endblock %}

{% block body %}
<br>
<br>
<br>
<section class="main">
<form method="post">

    {% if app.user %}

        <div uk-alert>
    <a class="uk-alert-close" uk-close></a>
    <h3>Voulez-vous vous déconnecter ?</h3>
    <div class="mb-3">
            Il semble que vous êtes déjà connecté avec l'adresse {{ app.user.username }} <a href="{{ path('app_logout') }}">Se déconnecter</a>
        </div>
</div>
    {% endif %}

    {% if not app.user %}
        <div class="uk-card uk-card-default uk-card-hover uk-card-body centerlogin cardlogin">
            <h3 class="uk-card-title">Connexion</h3>
            <p></p>
                       {% if error %}
            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}
        <form>
        <div class="uk-margin">
        <div class="uk-inline">
            <span class="uk-form-icon" uk-icon="icon: user"></span>
            <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control uk-input" required autofocus>
        </div>
    </div>

    <div class="uk-margin">
        <div class="uk-inline">
            <span class="uk-form-icon uk-form-icon-flip" uk-icon="icon: lock"></span>
            <input type="password" name="password" id="inputPassword" class="form-control uk-input" required>
        </div>
    </div>
 
        <div class="checkbox mb-3">
            <label>
                <input type="checkbox" name="_remember_me"> Sauvegarder mes identifiants
            </label>
        </div>
        
        <div class="uk-margin center">
    <button class="btn uk-button uk-button-default center" type="submit">
        Se connecter
    </button>

</form>
    </div>
{% endif %}

    <input type="hidden" name="_csrf_token"
           value="{{ csrf_token('authenticate') }}"
    >

    {#
        Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
        See https://symfony.com/doc/current/security/remember_me.html


    #}

    </div>
</form>
</section>
{% endblock %}
