{% extends 'base.html.twig' %}

{% block title %}Connexion | Plateforme ERPI{% endblock %}

{% block body %}


 {% if app.user %}

        <div uk-alert>
    <a class="uk-alert-close" uk-close></a>
    <h3>Voulez-vous vous déconnecter ?</h3>
    <div class="mb-3">
            Il semble que vous êtes déjà connecté avec l'adresse {{ app.user.username }} <a href="{{ path('app_logout') }}">Se déconnecter</a>
        </div>
</div>

    {% endif %}

    {% if not app.user %}
 


<div class="ui attached message">
  <div class="header">
    <i class="handshake outline icon"></i> Heureux de vous revoir ! 
  </div>
  <p>Renseignez les champs ci-dessous afin de pouvoir vous connecter.</p>
</div>

<form method ="post" class="ui form attached fluid segment">

          {% if error %}
              <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
          {% endif %}    
              
  <div class="two fields">
    <div class="field">
    <label>E-mail</label>
                <span class="uk-form-icon"></span>
                <input type="email" value="{{ last_username }}" name="email" id="inputEmail" required autofocus>
    </div>
    <div class="field">
    <label>Mot de passe</label>
                <span class="uk-form-icon uk-form-icon-flip"></span>
                <input type="password" name="password" id="inputPassword" required>
    </div>
    </div>
        <div class="inline field">
          <div class="ui checkbox">
            <input type="checkbox" name="_remember_me">
            <label>Sauvegarder mes identifiants</label>
          </div>
        </div>
  <button type="submit" class="ui submit button">Se connecter</button>

      <input type="hidden" name="_csrf_token"
            value="{{ csrf_token('authenticate') }}"
      >

</form>
<div class="ui bottom attached warning message">
  <i class="user plus icon"></i>
  Pas encore inscrit ? <a href="{{ path('app_register') }}">C'est par ici !</a>
</div>

</div>
{% endif %}
{% endblock %}