{% extends 'base.html.twig' %}

{% block title %}Dashboard - Plateforme ERPI{% endblock %}

{% block body %}
<section class="main">

        {% for label, messages in app.flashes %}
            <div class="uk-alert-primary" uk-alert>
                {% for message in messages %}
                    <div class="flash-{{ label }}">
                        {{ message }}
                    </div>
                {% endfor %}
            </div>
        {% endfor %}

                <ul class="uk-breadcrumb">
                    <li><a href="{{ path('main') }}">Acceuil</a></li>
                    <li><a href="#">Dashboard</a></li>
                </ul>
<h1 class="center">Dashboard</h1>

<div class="uk-text-center" uk-grid>
    <div class="uk-width-1-3">
        <div class="uk-card uk-card-default uk-card-body">
        <h3 class="uk-card-title">Mes projets favoris</h3>
        <dl class="uk-description-list uk-description-list-divider">
        {% for prjfollowed in prjfollowed %}
            <dt><a href="{{ path('project_details', {'id':prjfollowed.id}) }}">{{ prjfollowed.title }}</a></dt>
            <dd>{{ prjfollowed.summary }}</a></dd>
    {% endfor %}
        </div>
    </div>
    <div class="uk-width-1-3">
        <div class="uk-card uk-card-default uk-card-body">
                <h3 class="uk-card-title">Tâches créées<span class="uk-label"></span></h3>
        <dl class="uk-description-list uk-description-list-divider">
        {% for taskself in taskself %}
    <dt><a href="{{ path('task_details', {'id':taskself.id}) }}">{{ taskself.title }}</a></dt>
    <dd>{{ taskself.content }}</a></dd>
    <dd>
    {% if taskself.state == false %}
            <span class="uk-label">Nouveau</span>
            {% endif %}
            {% if taskself.state.id == '1' %}
            <span  class="uk-label uk-label-success labelstate">Terminée</span>
            {% endif %}
            {% if taskself.state.id == '2' %}
            <span class="uk-label uk-label-warning labelstate">En cours</span>
            {% endif %}
            {% if taskself.state.id == '3' %}
            <span class="uk-label uk-label-danger labelstate">Annulée</span>
            {% endif %}
            {% if taskself.state.id == '4' %}
            <span class="uk-label labelstate"><a class="" href="" uk-tooltip="Il n'y a aucun état de défini pour cette tâche. Cliquez ici pour en définir une." uk-icon="icon: bolt"></a></span>{% endif %}
    </dd>
    <br>
    <dd><progress class="uk-progress" value="{{ taskself.progress }}" max="100"></progress></dd>
</dl>
    {% endfor %}
        </div>
    </div>
   <div class="uk-width-1-3">
        <div class="uk-card uk-card-default uk-card-default uk-card-body">
           <h3 class="uk-card-title">Tâches attribuées<span class="uk-label"></span></h3>
        <dl class="uk-description-list uk-description-list-divider">
        {% for taskattr in taskattr %}
    <dt><a href="{{ path('task_details', {'id':taskattr.id}) }}">{{ taskattr.title }}</a></dt>
    <dd>{{ taskattr.content }}</a></dd>
    <dd>
    {% if taskattr.state == false %}
            <span class="uk-label">Nouveau</span>
            {% endif %}
            {% if taskattr.state.id == '1' %}
            <span  class="uk-label uk-label-success labelstate">Terminée</span>
            {% endif %}
            {% if taskattr.state.id == '2' %}
            <span class="uk-label uk-label-warning labelstate">En cours</span>
            {% endif %}
            {% if taskattr.state.id == '3' %}
            <span class="uk-label uk-label-danger labelstate">Annulée</span>
            {% endif %}
            {% if taskattr.state.id == '4' %}
            <span class="uk-label labelstate"><a class="" href="" uk-tooltip="Il n'y a aucun état de défini pour cette tâche. Cliquez ici pour en définir une." uk-icon="icon: bolt"></a></span>{% endif %}
    </dd>
    <br>
    <dd><progress class="uk-progress" value="{{ taskattr.progress }}" max="100"></progress></dd>
    {% endfor %}
    </dl>
        </div>
    </div>
</div>
{# 
<div class="uk-text-center" uk-grid>
    <div class="uk-width-1-2">
        <div class="uk-card uk-card-default uk-card-body">1-2</div>
    </div>
    <div class="uk-width-1-2">
        <div class="uk-card uk-card-default uk-card-body">1-2</div>
    </div>
</div> #}


</section>
{% endblock %}