{% extends 'base.html.twig' %}

{% block title %}Accueil - Plateforme ERPI{% endblock %}

{% block body %}



<div class="ui top attached menu">

<div class="item">
  <div class="field">
    <div id="ui-user-search" class="ui input search">
      <div class="ui icon input">
        <input class="prompt" type="text" placeholder="Rechercher ...">
        <i class="users icon"></i>
      </div>
      <div class="results"></div>
    </div>
  </div>
</div>

<h2 class="ui center aligned icon header">
  <div class="content">
    Accueil
    <div class="sub header">Plateforme de gestion ERPI</div>
  </div>
</h2>

  <div class="right menu">
    <div class="ui right aligned category search item">

    </div>
  </div>
  
</div>

<div class="ui bottom attached segment">
<div class="ui stackable labeled icon menu">
  <a href ="{{ path('project_add') }}"class="item">
    <i class="plus circle icon"></i>
    Créer un projet
  </a>
  <a href ="{{ path('allprojects') }}" class="item">
    <i class="list ul icon"></i>
    Voir tous les projets
  </a>
  <a href ="{{ path('dashboard') }}" class="item">
    <i class="video play icon"></i>
    Mon Dashboard
  </a>
    <a href ="{{ path('allmessages') }}" class="item">
    <i class="comment outline icon"></i>
    Conversations
  </a>
    <a href ="{{ path('addticket') }}" class="item">
    <i class="bug icon"></i>
    Rapporter un bug
  </a>
  {% if app.user.isadmin == 1 %}
    <a href ="{{ path('adminpanel') }}" class="item">
    <i class="universal access icon"></i>
    Panel administration
  </a>
  {% endif %}
</div>

<h2 class="ui header">Actualités</h2>
{% if actualities is empty %}
<p>Rien à afficher</p>
{% else %}
<div class="ui feed">
<div class="ui items">
{% for actualities in actualities %}
<div class="item">
<div class="content">
<div class="description">
<p>{{ actualities.content }}</p>
</div>
<div class="extra">{{ actualities.date|date('d/m/Y') }}</div>
<br>
</div>
</div>
{% endfor %}
</div>
</div>
{% endif %}
</div>
   
</section>




<script>

 $('#ui-user-search').search({
      type: 'category',
      searchFields: ['Id', 'Name', 'Email'],
      fullTextSearch: true,
      onSelect: function onSelect(result, response) {
        console.log(result);
      },
      apiSettings: {
        responseAsync: function mockResponseAsync(settings, callback) {
          if (settings.urlData.query) {
            (function() {
              var result = {
                "results": {}
              };

              mockUsers.filter(function(user) {
                return user.Name.toLowerCase().includes(settings.urlData.query.toLowerCase());
              }).forEach(function(item) {
                console.log(item);
                result.results['category' + item.Id.toString()] = {
                  "name": item.Id.toString(),
                  "results": [item]
                };
              });
              callback(result);
            })();
          } else callback({});
        },
        throttle: 400
      },
      templates: {
        message: function message(type, _message) {
          var html = '<div class="message empty"><div class="header">Aucun résultat</div></div>';
          return html;
        },
        category: function category(response) {
          var html = '';
          Object.keys(response.results).forEach(function(key) {
            html += '<div class="category"><div class="name">#' + response.results[key].results[0].Type + '</div> <a href="/profile/' + response.results[key].results[0].Id + '"class="result"><div class="content"><div class="title">' + response.results[key].results[0].Name + ' ' + response.results[key].results[0].Forename + '</div><div class="description">' + response.results[key].results[0].Email + '</div></div></a></div>';
          });
          return html;
        }
      }
    });

var mockUsers = [
{% for users in users %}
{ Id: '{{ users.id }}',
Forename: '{{ users.forename }}',
Name: '{{ users.name }}',
Email: '{{ users.email }}',
Type: '{{ users.type.name }}' }, 
{% endfor %}
];


</script>
{% endblock %}
