{% extends 'base.html.twig' %}

{% block title %}Rejoindre la plateforme{% endblock %}

{% block body %}

    {% for flashError in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
    {% endfor %}

    {% if app.user %}
        <div uk-alert>
    <a class="uk-alert-close" uk-close></a>
    <h3>Voulez-vous vous déconnecter ?</h3>
    <div class="mb-3">
            Il semble que vous êtes déjà connecté avec l'adresse {{ app.user.username }}. Déconnectez-vous de votre compte actuel si vous souhaitez en créer un autre. <a href="{{ path('app_logout') }}">Se déconnecter</a>
        </div>
</div>
    {% endif %}

    {% if not app.user %}

<div class="ui attached message">
  <div class="header">
    <i class="user plus icon"></i> Bienvenue sur le site Projet Innovation ! 
  </div>
  <p>Renseignez les champs ci-dessous afin de pouvoir vous enregistrer.</p>
</div>




<div class="ui form attached fluid segment">
    {{ form_start(registrationForm, { 'class': 'ui form attached fluid segment' }) }}
    <div uk-grid>
            <div class="uk-width-1-2">

        {{ form_row(registrationForm.name, { 'label': 'Nom' }) }}
            </div>

            <div class="uk-width-1-2">
        {{ form_row(registrationForm.forename, { 'label': 'Prénom' }) }}
           
    </div>
    </div>
        {{ form_row(registrationForm.type, { 'label': 'Vous êtes ...' }) }}



<div class="form-control">
<div class="field">
    {{ form_label(registrationForm.email) }}
    {{ form_widget(registrationForm.email) }}
  </div>  

 {{ form_errors(registrationForm.email) }}

</div>



<div class="field">
 
    {{ form_widget(registrationForm.plainPassword) }}
  </div> 


    <div uk-alert>
    <a class="uk-alert-close" uk-close></a>
    <h3>Conditions d'utilisation</h3>
    <div class="mb-3">
            En vous inscrivant, vous acceptez les <a href="{{ path('cgu') }}">conditions d'utilisation</a> du site.
        </div>
    </div>
<button type="submit" class="ui submit button">S'inscrire</button>


    



{{ form_end(registrationForm) }}
</div>
<div class="ui bottom attached warning message">
  <i class="icon help"></i>
  Vous avez déjà un compte? <a href="{{ path('app_login') }}">Connectez-vous ici</a>.
</div>
    {% endif %}

{% endblock %}