{% extends 'base.html.twig' %}

{% block title %}{{ task.title }} - Plateforme ERPI{% endblock %}

{% block body %}
<section class="global">

        {% for label, messages in app.flashes %}
            <div class="uk-alert-primary" uk-alert>
                {% for message in messages %}
                    <div class="flash-{{ label }}">
                        {{ message }}
                    </div>
                {% endfor %}
            </div>
        {% endfor %}
{# 
<div class="uk-card uk-card-default uk-card-body  cardlogin">
<article class="uk-article">

    <h1 class="uk-article-title center"><a class="uk-link-reset" href="">{{ task.title }}</a>
                   {% if task.state == "inprogress" %}
     <span class="uk-label uk-label-warning">En cours</span>
     {% endif %}
         {% if task.state == "cancelled" %}
     <span class="uk-label uk-label-danger">Annulée</span>
     {% endif %}
         {% if task.state == "done" %}
     <span class="uk-label uk-label-success">Terminée</span>
     {% endif %}
         {% if task.state == "none" %}
     <span class="uk-label">Aucun état</span>
     {% endif %}  
            </h1>



    <p class="uk-article-meta center">Créée par <a href="#">{{ task.owner.name }} {{ task.owner.forename }}</a> le {{ task.createdat|date('d/m/Y') }}.

    <p class ="center">{{ task.content }}</p>
<hr>
    <dl class="uk-description-list uk-description-list-divider center">
    
    <dt>Détails financiers</dt>
    {% if task.financialdetails == null %}
    <dd>Aucun détail financier pour cette tâche.</dd>
    {% else %}
        {{ task.financialdetails }}
    {% endif %}
</dd>
</dl>
<hr>
<dl class="uk-description-list uk-description-list-divider center">
    <dt>Participants</dt>

{% if task.user is empty %}
<dd>Aucun utilisateur n'a été ajouté à la tâche.</dd>
{% else %}
{% for users in users %}
<dd>{{ users.name }} {{ users.forename }}</dd>
{% endfor %}
{% endif %}
<br>
<button class="uk-button uk-button-default" type="button" uk-toggle="target: #modal-add-user2task">Ajouter des participants</button>
</div>
<br>


<div class="uk-text-center" uk-grid>
    <div class="uk-width-1-2">
        <div class="uk-card uk-card-default uk-card-body">    
        <dt>Date de début</dt>
    <dd>{{ task.datestart|date('d/m/Y') }}</dd>

    </div>

    </div>
    <div class="uk-width-1-2">
        <div class="uk-card uk-card-default uk-card-body">    
        <dt>Date de fin</dt>
    <dd>{{ task.dateend|date('d/m/Y') }}</dd>
    <dd><div>
    <br>
    <button class="uk-button uk-button-default" type="button" uk-toggle="target: #modal-countdown-task">Afficher le temps restant</button>
</div></dd>
    </div>
    </div>
    </div>
</div>
<div id="modal-countdown-task" uk-modal>
<div class="uk-text-center" uk-grid  id="countdown">
 <button class="uk-modal-close-default" type="button" uk-close></button>
    <div class="uk-width-auto">
        <div class="uk-card uk-card-body center"></div>
    </div>
    <div class="uk-width-expand">
        <div class="uk-card uk-card-default uk-card-body">
        <div class="uk-grid-small uk-child-width-auto" uk-grid uk-countdown="date: {{ task.dateend|date("c") }}">
    <div>
        <div class="uk-countdown-number uk-countdown-days"></div>
        <div class="uk-countdown-label uk-margin-small uk-text-center uk-visible@s">Jours</div>
    </div>
    <div class="uk-countdown-separator">:</div>
    <div>
        <div class="uk-countdown-number uk-countdown-hours"></div>
        <div class="uk-countdown-label uk-margin-small uk-text-center uk-visible@s">Heures</div>
    </div>
    <div class="uk-countdown-separator">:</div>
    <div>
        <div class="uk-countdown-number uk-countdown-minutes"></div>
        <div class="uk-countdown-label uk-margin-small uk-text-center uk-visible@s">Minutes</div>
    </div>
    <div class="uk-countdown-separator">:</div>
    <div>
        <div class="uk-countdown-number uk-countdown-seconds"></div>
        <div class="uk-countdown-label uk-margin-small uk-text-center uk-visible@s">Secondes</div>
    </div>
</div>
</div>
    </div>
    <div class="uk-width-auto">
        <div class="uk-card uk-card-body"></div>
    </div>
</div>


</article>
<div id="modal-add-user2task" uk-modal>
    <div class="uk-modal-dialog uk-modal-body">
    <button class="uk-modal-close-default" type="button" uk-close></button>
        
    </div>
</div>
</section> #}

<h3 class="ui top attached header">
  Détails de la tâche
</h3>

<div class="ui styled fluid accordion">



  <div class="active title">
    <i class="dropdown icon"></i>
    Contenu
  </div>
  <div class="active content">
    <p>{{ task.content }}</p>
  </div>
  <div class="title">
    <i class="dropdown icon"></i>
    Participants
  </div>
  
  <div class="content">


    {% if task.user is empty %}
<dd>Aucun utilisateur n'a été ajouté à la tâche.</dd>
{% else %}
{% for userstask in userstask %}
<dd>{{ userstask.name }} {{ userstask.forename }}
{% if app.user == userstask %}
<b>(Moi)</b>
{% endif %}
</dd>
{% endfor %}
{% endif %}
<div class="ui message">
  <div class="header">
    Créateur de la tâche
  </div>
  <p>{{ task.owner.forename }} {{ task.owner.name }}
  {% if app.user == task.owner %}
    <b>(Moi)</b>
  {% endif %}
  </p>
</div>
  
  </div>
  <div class="title">
    <i class="dropdown icon"></i>
    Dates
  </div>
  <div class="content">
     <p><b>Date de début</b> : {{ task.datestart|format_date('long', locale='fr') }}</p>
    <p><b>Date de fin</b> : {{ task.dateend|format_date('long', locale='fr') }}</p>
  </div>
  <div class="title">
    <i class="dropdown icon"></i>
    Chiffres
  </div>
  <div class="content">
  <b>Progression</b>
<div class="ui teal progress" id="example2">
  <div class="bar"></div>
  <div class="label">{{ task.progress }} %</div>
</div>
    <p></p>
  </div>
  <div class="ui labeled icon menu">
  <a id="tgladduser" class="item">
    <i class="user plus icon"></i>
    Assigner un utilisateur à cette tâche
  </a>
  <a href="{{ path('task_update', {'id':task.id}) }}" class="item">
    <i class="pencil icon"></i>
    Modifier cette tâche
  </a>
  <a class="item">
    <i class="trash can icon"></i>
    Supprimer cette tâche
  </a>
</div>
</div>
{% if task.isprivate == true and task.owner == app.user %}
<div class="ui bottom attached warning message">
  <i class="user secret icon"></i>
  Cette tâche est privée - les autres utilisateurs ne peuvent pas la voir.
</div>
{% endif %}

<div class="ui mini modal adduser">
  <i class="close icon"></i>
  <div class="content">
    <div class="description">
      <div class="ui header">Ajouter un utilisateur</div>

                                     <div class="field">
                          <div id="ui-user-search" class="ui input search">
                            <div class="ui icon input">
                              <input class="prompt" type="text" placeholder="Rechercher ...">
                              <i class="users icon"></i>
                            </div>
                            <div class="results"></div>
                          </div>
                        </div>

    </div>
  </div>
</div>




<script>

 $('#ui-user-search').search({
      type: 'category',
      searchFields: ['Id', 'Name', 'Email'],
      fullTextSearch: true,
      onSelect: function onSelect(result, response) {
        console.log(result);
      },
      apiSettings: {
        responseAsync: function mockResponseAsync(settings, callback) {
          if (settings.urlData.query) {
            (function() {
              var result = {
                "results": {}
              };

              mockUsers.filter(function(user) {
                return user.Name.toLowerCase().includes(settings.urlData.query.toLowerCase());
              }).forEach(function(item) {
                console.log(item);
                result.results['category' + item.Id.toString()] = {
                  "name": item.Id.toString(),
                  "results": [item]
                };
              });
              callback(result);
            })();
          } else callback({});
        },
        throttle: 400
      },
      templates: {
        message: function message(type, _message) {
          var html = '<div class="message empty"><div class="header">Aucun résultat</div></div>';
          return html;
        },
        category: function category(response) {
          var html = '';
          Object.keys(response.results).forEach(function(key) {
            html += '<div class="category"><div class="name">#' + response.results[key].results[0].Type + '</div> <a href="/addUser/' + response.results[key].results[0].Id + '/toTask/{{task.id}}"class="result"><div class="content"><div class="title">' + response.results[key].results[0].Name + ' ' + response.results[key].results[0].Forename + '</div><div class="description">' + response.results[key].results[0].Email + '</div></div></a></div>';
          });
          return html;
        }
      }
    });

var mockUsers = [
{% for users in users %}
{ Id: '{{ users.id }}',
Forename: '{{ users.forename }}',
Name: '{{ users.name }}',
Email: '{{ users.email }}',
Type: '{{ users.type.name }}' }, 
{% endfor %}
];
$('#tgladduser').click(function(){      
            $('.ui.mini.modal.adduser')
            .modal('show')
            ;
});
$('.ui.accordion')
  .accordion()
;
$('#example2').progress({
  percent: {{ task.progress }}
});

</script>



{% endblock %}