{% extends 'base.html.twig'%}

{% block title %}Mes messages - Plateforme ERPI{% endblock %}

{% block body %}

<section class="global">

         {% for label, messages in app.flashes %}
            <div class="uk-alert-primary" uk-alert>
                {% for message in messages %}
                    <div class="flash-{{ label }}">
                        {{ message }}
                    </div>
                {% endfor %}
                </div>
                {% endfor %}
                
<div>
        <div class="uk-card uk-card-default uk-width-1-2 uk-card-small uk-card-hover uk-card-body">
        <h3 class="uk-card-title center">Mes conversations <i class="comment outline icon"></i></h3>
            <div id="commentbutton" class="uk-margin center">
        <button type="submit" uk-toggle="target: #modal-add-conv" class="uk-button uk-button-default center">Démarrer une conversation avec ...</button>
<div id="modal-add-conv" uk-modal>
    <div class="uk-modal-dialog uk-modal-body">
    <button class="uk-modal-close-default" type="button" uk-close></button>
    {{ form_start(formAddConv) }}
     {{ form_row(formAddConv.recipient, { 'label': 'Choisssez un utilisateur :' }) }} 
     <br>
     <div id="commentbutton" class="uk-margin center">
<button type="submit" uk-toggle="target: #modal-add-conv" class="uk-button uk-button-default center">Démarrer la conversation</button>
</div>
 {{ form_end(formAddConv) }}
    </div>
</div>



    </div>
<ul class="uk-list">

{% for conversation in conversations %}
    {% if conversation.owner.id == app.user.id %}
      <a href="{{ path('conv_details', {'id':conversation.id}) }}" uk-tooltip="title:Ouvrir la conversation avec {{conversation.recipient.forename}}"><b>{{conversation.recipient.forename}} {{conversation.recipient.name}}</b> </a></li>
        {% if conversation.lastmessage != null %}
            {% if conversation.lastmessage.sentby == app.user %}
            <p class="uk-text-muted uk-text-normal" uk-tooltip ="title: Dernier message envoyé">
             Dernier message le  {{conversation.lastmessage.sentat|format_datetime('long', 'short', locale='fr')}}
             </p>
              
           {% else %}
           <p class="uk-text-muted uk-text-normal" uk-tooltip ="title: Dernier message envoyé">
       {{conversation.lastmessage.sentat|format_datetime('long', 'short', locale='fr')}}
                </p>
        </li>
         {% endif %}
        {% endif %}
    {% elseif conversation.recipient.id == app.user.id %}
        <a href="{{ path('conv_details', {'id':conversation.id}) }}" uk-tooltip="title:Ouvrir la conversation avec {{conversation.owner.forename}}"><b>{{conversation.owner.forename}} {{conversation.owner.name}}</b></a></li>
        {% if conversation.lastmessage != null %}
        <p class="uk-text-muted uk-text-normal" uk-tooltip ="title: Dernier message envoyé">
            {% if conversation.lastmessage.sentby == app.user %}
            Dernier message le
            {% else %}
            {{conversation.lastmessage.sentby.forename}}
            {% endif%}
         {{conversation.lastmessage.sentat|format_datetime('long', 'short', locale='fr')}}
        </p>
     
        {% endif %}
    {% endif %}
{% endfor %}

        </div>
    </div>
</section>
{% endblock %}