{% extends 'base.html.twig'%}

{% block title %}Mes messages - Plateforme ERPI{% endblock %}

{% block body %}

<section class="global">

         {% for label, messages in app.flashes %}
            <div class="uk-alert-primary" uk-alert>
                {% for message in messages %}
                    <div class="flash-{{ label }}">
                        {{ message }}
                    </div>
                {% endfor %}
                </div>
                {% endfor %}

                <ul class="uk-breadcrumb">
                    <li><a href="#">Mon profil</a></li>
                    <li><b><a href="{{ path('allmessages') }}">Mes conversations</a></b></li>
                </ul>
                
<div>
        <div class="uk-card uk-card-default uk-width-1-2 uk-card-small uk-card-hover uk-card-body">
        <h3 class="uk-card-title center">Mes conversations <i class="envelope outline icon"></i></h3>
            <div id="commentbutton" class="uk-margin center">
        <button type="submit" uk-toggle="target: #modal-add-conv" class="uk-button uk-button-default center">Démarrer une conversation avec ...</button>
<div id="modal-add-conv" uk-modal>
    <div class="uk-modal-dialog uk-modal-body">
    <button class="uk-modal-close-default" type="button" uk-close></button>
    {{ form_start(formAddConv) }}
     {{ form_row(formAddConv.recipient, { 'label': 'Choisssez un utilisateur :' }) }} 
     <br>
     <div id="commentbutton" class="uk-margin center">
<button type="submit" uk-toggle="target: #modal-add-conv" class="uk-button uk-button-default center">Démarrer la conversation</button>
</div>
 {{ form_end(formAddConv) }}
    </div>
</div>



    </div>
<ul class="uk-list uk-list-divider">

{% for conversation in conversations %}
    {% if conversation.owner.id == app.user.id %}
        <li class="uk-text-bold">{{conversation.recipient.forename}} {{conversation.recipient.name}} <a href="{{ path('conv_details', {'id':conversation.id}) }}" uk-tooltip="title:Ouvrir la conversation avec {{conversation.recipient.forename}}" uk-icon="icon: comment; ratio: 1.5"></a></li>
        {% if conversation.lastmessage != null %}
        {{conversation.lastmessage.sentby.forename}} : {{conversation.lastmessage.content}}
        {% endif %}
    {% elseif conversation.recipient.id == app.user.id %}
        <li class="uk-text-bold">{{conversation.owner.forename}} {{conversation.owner.name}} <a href="{{ path('conv_details', {'id':conversation.id}) }}" uk-tooltip="title:Ouvrir la conversation avec {{conversation.owner.forename}}" uk-icon="icon: comment; ratio: 1.2"></a> 
        {% if conversation.lastmessage != null %}
        <p class="uk-text-muted uk-text-normal" uk-tooltip ="title: Dernier message envoyé">
            {% if conversation.lastmessage.sentby == app.user %}
            Moi
            {% else %}
            {{conversation.lastmessage.sentby.forename}}
            {% endif%}
         : {{conversation.lastmessage.content}}
        </p>
        </li>
        {% endif %}
    {% endif %}
{% endfor %}

        </div>
    </div>
</section>
{% endblock %}