{% extends 'base.html.twig' %}

{% block title %}{{ task.title }} - Plateforme ERPI{% endblock %}

{% block body %}
<section class="main">

        {% for label, messages in app.flashes %}
            <div class="uk-alert-primary" uk-alert>
                {% for message in messages %}
                    <div class="flash-{{ label }}">
                        {{ message }}
                    </div>
                {% endfor %}
            </div>
        {% endfor %}

                <ul class="uk-breadcrumb">
                    <li><a href="{{ path('main') }}">Acceuil</a></li>
                    <li><a href="{{ path('allprojects') }}">Tous les projets</a></li>
                    <li><a href="#">{{ task.project.title }}</a></li>
                    <li><a href="#">{{ task.title }}</a></li>
                </ul>
<div class="uk-card uk-card-default uk-card-body  cardlogin">
<article class="uk-article">

    <h1 class="uk-article-title center"><a class="uk-link-reset" href="">{{ task.title }}</a>{% if task.state == false %}
            <span class="uk-label relative">Nouveau</span>
            {% endif %}
            {% if task.state.id == '1' %}
            <span  class="uk-label uk-label-success labelstate">Terminée</span>
            {% endif %}
            {% if task.state.id == '2' %}
            <span class="uk-label uk-label-warning labelstate ">En cours</span>
            {% endif %}
            {% if task.state.id == '3' %}
            <span class="uk-label uk-label-danger labelstate ">Annulée</span>
            {% endif %}
            {% if task.state.id == '4' %}
            <span class="uk-label labelstate"><a class="" href="" uk-tooltip="Il n'y a aucun état de défini pour cette tâche. Cliquez ici pour en définir une." uk-icon="icon: bolt"></a></span>
            {% endif %}</h1>



    <p class="uk-article-meta center">Créée par <a href="#">{{ task.owner.name }} {{ task.owner.forename }}</a> le {{ task.createdat|date('d/m/Y') }}.

    <p class ="center">{{ task.content }}</p>
<hr>
    <dl class="uk-description-list uk-description-list-divider center">
    
    <dt>Détails financiers</dt>
    {% if task.financialdetails == null %}
    <dd>Aucun détail financier pour cette tâche.</dd>
    {% else %}
        {{ task.financialdetails }}
    {% endif %}
</dd>
</dl>
<hr>
<dl class="uk-description-list uk-description-list-divider center">
    <dt>Participants</dt>

{% if task.user is empty %}
<dd>Aucun utilisateur n'a été ajouté à la tâche.</dd>
{% else %}
{% for users in users %}
<dd>{{ users.name }} {{ users.forename }}</dd>
{% endfor %}
{% endif %}
<br>
<button class="uk-button uk-button-default" type="button" uk-toggle="target: #modal-add-user2task">Ajouter des participants</button>
</div>
<br>


<div class="uk-text-center" uk-grid>
    <div class="uk-width-1-2">
        <div class="uk-card uk-card-default uk-card-body">    
        <dt>Date de début</dt>
    <dd>{{ task.datestart|date('d/m/Y') }}</dd>

    </div>

    </div>
    <div class="uk-width-1-2">
        <div class="uk-card uk-card-default uk-card-body">    
        <dt>Date de fin</dt>
    <dd>{{ task.dateend|date('d/m/Y') }}</dd>
    <dd><div>
    <br>
    <button class="uk-button uk-button-default" type="button" uk-toggle="target: #modal-countdown-task">Afficher le temps restant</button>
</div></dd>
    </div>
    </div>
    </div>
</div>
<div id="modal-countdown-task" uk-modal>
<div class="uk-text-center" uk-grid  id="countdown">
 <button class="uk-modal-close-default" type="button" uk-close></button>
    <div class="uk-width-auto">
        <div class="uk-card uk-card-body center"></div>
    </div>
    <div class="uk-width-expand">
        <div class="uk-card uk-card-default uk-card-body">
        <div class="uk-grid-small uk-child-width-auto" uk-grid uk-countdown="date: {{ task.dateend|date("c") }}">
    <div>
        <div class="uk-countdown-number uk-countdown-days"></div>
        <div class="uk-countdown-label uk-margin-small uk-text-center uk-visible@s">Jours</div>
    </div>
    <div class="uk-countdown-separator">:</div>
    <div>
        <div class="uk-countdown-number uk-countdown-hours"></div>
        <div class="uk-countdown-label uk-margin-small uk-text-center uk-visible@s">Heures</div>
    </div>
    <div class="uk-countdown-separator">:</div>
    <div>
        <div class="uk-countdown-number uk-countdown-minutes"></div>
        <div class="uk-countdown-label uk-margin-small uk-text-center uk-visible@s">Minutes</div>
    </div>
    <div class="uk-countdown-separator">:</div>
    <div>
        <div class="uk-countdown-number uk-countdown-seconds"></div>
        <div class="uk-countdown-label uk-margin-small uk-text-center uk-visible@s">Secondes</div>
    </div>
</div>
</div>
    </div>
    <div class="uk-width-auto">
        <div class="uk-card uk-card-body"></div>
    </div>
</div>


</article>
<div id="modal-add-user2task" uk-modal>
    <div class="uk-modal-dialog uk-modal-body">
    <button class="uk-modal-close-default" type="button" uk-close></button>
        
    </div>
</div>
</section>








{% endblock %}